.keen-slider {
  height: 100vh;
  background: black;

}
.keen-slider-mobile{
  height: 100vh;
  background-color: #242d34;

}

.slide {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  height: 100vh;
  position: relative;
  /* padding-left: 10%; */
  justify-content: center;
  font-family: monospace;
  width: 100%;

}

@media screen and (max-width: 600px){
  .slide{
    /* padding-left: 2%; */
    justify-content: center;
  }
  
}


