.keen-slider {
  height: 100vh;
}
[class^="slide"],
[class*=" slide"] {
  background: grey;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  position: relative;
}
.slide {
  background:black;
}
  

